extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Parul Gupta

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack NodeJS Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Here I am presenting myself as a Node JS Full-Stack Developer. I have working experience with Pug, HTML5, CSS, JavaScript, Template Engine and so on.
            | I have working experience of business level system development. So I can integrate some third party module also such as Payment Gateway, Mail integration and so on.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Node JS
          li Express JS
          li HTML
          li CSS
          li JavaScript 
          li HTML5
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li guptap5@student.douglascollege.ca

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  