.bg-header {
    background-image: url('../assests/images/buisness/about-banner.png');
    width: 100%;
    font-family: 'Montserrat';
    background-color: #005AB9;

    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 36px;

        .togglelist {
            display: block !important;
        }

        .menu-button {
            display: none;

            i {
                font-size: 35px;
                color: white;
            }

            @media (max-width: 991px) {
                display: block;
                cursor: pointer;
            }

            .fa-times {
                @media (max-width: 991px) {
                    position: absolute;
                    z-index: 3;
                    top: 45px;
                    right: 94px;
                }

                @media (max-width: 567px) {
                    right: 17px;
                }
            }

        }

        nav {
            ul li {
                list-style: none;
                padding: 0 37px 0 0;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;

                @media (max-width: 991px) {
                    margin-top: 30px;
                    padding: 0;
                    width: 104px;
                }

                &:nth-child(7) {
                    padding-right: 0;
                }


                a {
                    color: white;
                }

                .lets-talk {
                    color: white;
                    text-decoration: none;
                    background: #FC2327;
                    border-radius: 12px;
                    padding: 15px 31px;

                    @media (max-width: 1440px) {
                        padding: 15px 22px;
                    }
                    @media (max-width: 991px) {
                     padding: 9px 10px;
                    }
                }
            }
        }

        nav {
            
            .menu-link {
                display: flex;
                align-items: center;
                margin: 0;

                @media (max-width: 991px) {
                    display: none;
                }

            }

            .mobile-menu-link {
                @media (max-width: 991px) {
                    position: absolute;
                    left: 0;
                    padding: 0;
                    top: 0;
                    width: 100%;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.9);
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }

        } 
           


    }


}