
.full-potential-section {
    margin: 317px 0 100px;
    background-image: url('../assests/images/modern-fearures/features-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    .features {
        background-color: #F2F8FF;
        opacity: 96%;
        padding: 100px 0 85px;

        
    @media (max-width: 991px) {
        padding: 35px 0 45px !important;
    }

    @media (max-width: 1366px) {
        padding: 40px 0;
    }
    }


    @media (max-width: 991px) {
        margin-top: 139px !important;
    }

    @media (max-width: 567px) {
        margin: 99px 0 40px !important;
    }

    

    @media (max-width: 1440px) {
        margin-top: 167px;
    }


    .full-potential-features {
        h1 {
            margin-bottom: 35px;
            text-align: start;

            @media (max-width: 991px) {
                margin-top: 40px;
            }

            @media (max-width: 567px) {
                text-align: center;
            }

        }

        .all-card {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 567px) {
                justify-content: center;
            }

            .card-img {
                background-color: white;
                width: 195px;
                height: 92px;
                box-shadow: 4px 5px 12px rgba(1, 57, 116, 0.09);
                border-radius: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 30px 30px 0;


                img {
                    @media (max-width: 1199px) {
                        width: 60px;
                    }
                    @media (max-width: 991px) {
                        width: 70px;
                    }
                    @media (max-width: 567px) {
                        width: 60px;
                    }
                }

                &:nth-child(1){
                    
                img {
                    @media (max-width: 1199px) {
                        width: 80px;
                    }
                    @media (max-width: 567px) {
                        width: 90px;
                    }
                }
                }

                &:nth-child(2){
                        @media (max-width: 567px) {
                            margin-right: 0;
                        }
                }

                &:nth-child(3){
                    @media (max-width: 1199px) {
                        margin-right: 0;
                    }

                    @media (max-width: 567px) {
                        margin-right: 20px;
                    }
                }

                &:nth-child(4){
                    margin-right: 0;

                    @media (max-width: 1199px) {
                        margin-right: 20px;
                    }
                    @media (max-width: 567px) {
                        margin-right: 0;
                    }

                        img {
                            width: 45px;
                        }
                }

                &:nth-child(6){
                    @media (max-width: 1199px) {
                        margin-right: 0;
                    }
                    
                img {
                    @media (max-width: 1199px) {
                        width: 80px;
                    }   
                    @media (max-width: 567px) {
                        width: 90px;
                    }
                }
                  
                }

                &:nth-child(9){
                    @media (max-width: 1199px) {
                        margin-right: 0;
                    }
                    @media (max-width: 567px) {
                        margin-right: 20px;
                    }
                }

                &:nth-child(8){
                    margin-right: 0;

                    @media (max-width: 1199px) {
                        margin-right: 20px !important;
                        
                    }
                    @media (max-width: 567px) {
                        margin-right: 0 !important;

                        img { 
                            width: 90px;
                        }
                    }
                }

                &:nth-child(10){
                    @media (max-width: 567px) {
                        margin-right: 0;
                    }
                }   

                @media (max-width: 1440px) {
                    margin-right: 20px;
                    width: 173px;
                    height: 92px;
                }

                @media (max-width: 1199px) {
                    width: 148px !important;
                    height: 72px !important;
                }

                @media (max-width: 991px) {
                    width: 181px !important;
                    height: 92px !important;    
                }
                @media (max-width: 567px) {
                    width: 170px !important;
                    height: 82px !important;
                }
                @media (max-width : 392px) and (min-width : 375px) {
                    width: 147px !important;
                    margin-bottom: 20px !important;
                }
                @media (max-width : 375px) and (min-width : 320px) {
                    width: 130px !important;
                    height: 72px !important;
                }
                
            }
        }
    }

    .full-potential-main {
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
            flex-direction: column-reverse;
        }

        .full-potential-main-img {
            margin-right: 67px;

            @media (max-width: 991px) {
                margin: 0;
                text-align: center;
            }

            @media (max-width: 567px) {
                margin-bottom: 30px;
            }

            img {
                @media (max-width: 320px) {
                    width: 100%;
                }
            }
        }
    }
}