.meeting-section {
    font-family: 'Poppins';
    padding: 88px 0;
    background-image: url('../assests/images/meeting/meeting-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    @media (max-width: 991px) {
        padding: 70px 0 60px;
    }

    .calender-img {
        img {
            @media (max-width: 1199px) {
                width: 100%;
            }
        }

        @media (max-width: 1440px) {
            text-align: end;
        }
    }

    .meeting-contain {

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }

        h1 {
            font-family: 'Poppins';
            margin-bottom: 30px;
            width: fit-content;

            @media (max-width: 991px) {
                text-align: center;
                width: 100%;
            }

            @media (max-width: 567px) {
                margin-bottom: 20px;
            }
        }

        .book-meeting-button {
            background: #2A9DF4;
            border-radius: 29px;
            padding: 14px 27px 14px 62px;
            display: flex;
            align-items: center;
            width: fit-content;
            transition: .5s;
            margin: 0;
            color: #FFFFFF;
            line-height: 30px;
            font-size: 20px;
            font-weight: 400;
            position: relative;
            border: none;

            &::before {
                content: '';
                background-image: url('../assests/images/meeting/meeting-icon.png');
                position: absolute;
                left: 38px;
                top: 50%;
                transform: translate(-50% , -50%);
                width: 22px;
                height: 24px;
                background-repeat: no-repeat;
                background-size: cover;
            }

            @media (max-width: 567px) {
                font-size: 17px;
            }

            @media (max-width: 991px) {
                margin: 0 auto;
            }

        }

        
    }
}